/*body {background-color: #eee}*/
nav.navbar {
	background: #13c4ff;
	-webkit-box-shadow: 0 2px 10px #888888;
	border-top: none;
	border-bottom: none;
    color: #fff;
}
.navbar a.back-button {color: #fff}
.navbar a.back-button:before {border-color: #fff}
.navbar .icon-menu.icon-menu:after {
    border-top: 10px double #fff;
    border-bottom: 3px solid #fff;
}
/*===================================== icon ======================================*/
a {color: inherit;}
.fa {display: block; text-align: center; height: 100%; line-height: 32px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);}
.fa.urgent {color: #fc5050}

/*===================================== end icon ======================================*/

.navbar h6.label.title {font-weight: bold;}

/*===================================== detail =================================*/

input.label {border: none;  font-weight: bold;}
input[type="text"],
input[type="date"],
input[type="time"]{border: none;border-bottom:  1px solid #13c4ff}
input:focus {border-bottom: 2px solid #13c4ff}

#add{
	position: absolute;
	z-index: 100;
	background: #fff;
	width: 96%;
	padding: 10px;
}

/*.add .fa {color: #fff; background: #13c4ff;}*/
.title .fa{background: #13c4ff; color: green; text-shadow: 1px 1px 1px #fff; width: 100%}
.title {position: relative;margin-bottom: 15px;}
/*.title input.label {border-radius: 0 19px 19px 0}*/
.title input.swipe {position: absolute; right: 0; top: 1px; background-color: #fc5050}
.title .fa.low{color: yellow}
.title .fa.urgent{color: red}
.title ul {padding: 0; margin: 0}
.title ul li {padding: 0; list-style: none}
.title ul li ul {display: none}
.title ul li:hover ul {display: block}
.subtask {margin-bottom: 15px; background: #f5f5f5; padding: 10px 20px 10px 10px}
.subtask input {background: #f5f5f5}
.subtask label {padding: 4px 0 10px 34px;}
/*.title input {background: rgba(19, 196, 255, 0.26)}*/

/*.subtask .fa {background: #ccc; width: 100%}*/
/*===================================== end detail =============================*/


/*=================================== footer ==============================*/


footer {position: fixed; bottom: 0}



/*=================================== end footer ==============================*/



.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.accordion {margin-top: 10px}
 
.accordion li {
    list-style: none;
}



.accordion li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 5px 10px 5px 45px;
 
    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
 
    background: #6c6e74;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   /* background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
    background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);*/
 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}


.accordion li > a span {
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0 10px;
    margin-right: 10px;
 
    font: normal bold 12px/18px Arial, sans-serif;
    background: #404247;
 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
 
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}



/*.accordion > li > a:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;
 
    background-repeat: no-repeat;
    background-image: url(../img/icons.png);
    background-position: 0px 0px;
}

.accordion li.files > a:before { background-position: 0px 0px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before { background-position: 0px -24px; }
 
.accordion li.mail > a:before { background-position: -24px 0px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before { background-position: -24px -24px; }
 
.accordion li.cloud > a:before { background-position: -48px 0px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before { background-position: -48px -24px; }
 
.accordion li.sign > a:before { background-position: -72px 0px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before { background-position: -72px -24px; }
*/



.sub-menu li a {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
 
    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;
 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
 
.sub-menu li:last-child a { border: none; }
 
.sub-menu li > a span {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: transparent;
    border: 1px solid #c9c9c9;
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
 
em {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 14px;
    color: #a6a6a6;
    line-height: 42px !important;
    /*font: normal 20px/42px Arial, sans-serif;*/
}



.accordion > li:hover > a,
.accordion > li:target > a {
    color: #6c6e74;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
 
    /*background: url(../img/active.png) repeat-x;*/
    background: #13c4ff;
   /* background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);*/
}
 
.accordion > li:hover > a span,
.accordion > li:target > a span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    background: #6c6e74;
}
 
.sub-menu li:hover a { background: #efefef; }


.accordion li > .sub-menu {
    height: 0;
    overflow: hidden;
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 
.accordion li:target > .sub-menu {
    max-height: 224px;
    min-height: 130px;
    overflow-y: scroll;
}


/*======================================= checkbox =====================================*/
label.cek {cursor:pointer}
label.cek:before, label.cek:after {
    /*font-family: FontAwesome;*/
    font-size: 2em;
    /*absolutely positioned*/
    position: absolute; top: 0; left: 0;
}
label.cek:before {
    content: '\f096'; /*unchecked*/
}
label.cek:after {
    content: '\f046'; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
    /*text-decoration:line-through;*/
}

/*hiding the original checkboxes*/
.subtask input[type="checkbox"] {
    display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
input[type="checkbox"]:checked + label.cek:after {
    max-width: 25px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
}

/*adding some colors for fun*/
/*======================================= end checkbox =====================================*/